# Node modules
node_modules/

# Variables de entorno
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Mac / Linux / Windows
.DS_Store
Thumbs.db

# Build folders (si llegas a usar)
dist/
build/
